@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;

}

 body{
    display: flex;
    border: 16px solid #D8D8D8;
    width: 100%;
    height: 100vh;
    background-color:#EEEEEE;
    align-items: center;
    justify-content: center;
     
    
}


.menu-grid{
    display: inline-block;
    
   
}
.image-container{
    
    >img{
        width: 100%;
        height:216px ;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        display: block;
    } 
    
}

        
.card{

       background-color: #FFFFFF;
        border-radius: 20px;
        width: 100%;
        min-width: 360px;
        height: 528px;
        >h2{
            margin: 20px 0px 24px 24px;
            font-weight: 400px;
            color: #081F32;
            font-family: 'DM Serif Display';
            

        }
        >p{
            font-family: 'Open Sans', sans-serif;
            height: 75px;
            width: 312px;
            margin: 0px 24px 5px 24px;
            font-weight: 400;
            color: #6E798C;
            font-size: 16px
        }
        
    }




.menu-grid {
    display: flex;
    width: 100%;
    gap: 32px;
    padding: 32px;
    max-width: 1200px;
    justify-content: center;
    gap: 32px;
    /* padding: 32px; */
    
}

.nutrition{
    padding: 20px 25px 30px 24px ;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    color: #A5ADBB;
    
}
.price{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'DM Serif Display';
    text-align: center;
  

    >ins{
        margin: 0px 8px 0px 24px;
        font-weight: 400;
        font-size: 28px;
        color: #081F32;
        text-decoration: none;
    }
    >del{
        color: #F8593B;
        font-weight: 400;
        font-size: 20px;
    }
    
}

.order{
    
    margin: 0px 10px 0px 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    background-color: #2ECC71;
    width: 114px;
    height: 50px;
    
    >h3{
        
        font-size: 11px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        color: #FFFFFF;
       
        
    }
}