
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    font-family: 'inter';

}

 

body{
    justify-content: center;
    display: flex;
    background-color:#D6E2F0;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    align-items: center;
}

.card{
    align-items: center;
    width: 320px;
    height: 497px;
    background-color: #FFFFFF;
    border-radius: 20px;

    
}

.qr-code img{
    border-radius: 20px;
    margin: 16px 16px 0px 16px;
}

.text{
    text-align: center;
     
    >h1{
        width: 254px;
        height: 54px;
        margin: 25px 33px 16px 33px ;
        font-weight: 700;
        font-size: 21px;
        color: #1F3251;

    }
    >p{
        width: 254px;
        height: 57px;
        margin: 0px 33px 41px 33px;
        color: #7B879D;
        font-weight: 500;
        font-size: 15px;
       
    }
}